
.speech {
    font-family: Georgia;
    font-size: 12px;
    color: black;
}

.stage-direction {
    font-family: Arial;
    font-style: italic;
    font-size: 14spx;
    color: black;
    background-color: #ffebcd;
}

.stage-direction:hover {
    background-color: #555555;
    color: #ffebcd;
}

.name {
    font-family: Hevetica;
    font-weight: bold;
    font-size: 12px;
    color: black;
}

.charGoring {
    color: #814981;
}

.charCaversham {
    color: #5f5c8f;
}

table {
    border: 3px solid black;
    margin: 10px;
}

th {
    border: 3px solid black;
    padding: 5px 7px;
    text-align: center;
    background-color: #555;
    color: #FFF;
}

td {
    border: 3px solid black;
    padding: 5px 7px;
    text-align: left;
    color: black;
}