
.speech {
    font-family: Georgia;
    font-size: 12;
    color: black;
}

.direction {
    font-family: Arial;
    font-style: italic;
    font-size: 16;
    color: black;
    background-color: #ffebcd;
}

.direction:hover {
    background-color: #555555;
    color: #ffebcd;
}

.name {
    font-family: Hevetica;
    font-weight: bold;
    font-size: 12;
    color: black;
}

.charGoring {
    color: #814981;
}

.charCaversham {
    color: #5f5c8f;
}
